.title{
  text-align:center;
  font-weight: bold;
}

.network_list{
  width:90%;
  margin:auto;
  /*border:solid 3px #000;*/
  outline:2px solid #000;
}

.network_packet{
  width: 80%;
  margin:auto;
  /*border:solid 3px #000;*/
  outline:2px solid #000;
}

.sentence_limit{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


ul{
  text-align: center;
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  z-index: 20;
}

ul li{
  display: inline-block;
  padding: 26px 10px 20px 10px;
}

a{
  color: #000;
}