.title{
  text-align:center;
  font-weight: bold;
}

.network_list{
  text-align: center;
  margin:auto;
  outline:2px solid #000;
  width:90%;
}

.network_packet{
  text-align: center;
  width: 80%;
  margin:auto;
  outline:2px solid #000;
}

.sentence_limit{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.context{
  width:70%;
  margin: auto;
  text-align: center;
  outline:2px solid #000;
}


nav {
    text-align: center;
}
 
nav ul {
    margin: 0 ;
    padding: 0 ;
}
 
nav ul li{
    list-style: none;
    display: inline-block;
    width: 10%; /* ここで項目の幅を指定します */
}
 
nav ul li a {
    text-decoration: none;
    color: #333;
}
 
nav li:hover{
    background-color: #FFAF87; /* 背景色を指定します */
}