/* Today_schedule */
.schedule_today{
  text-align: center;
  margin:auto;
  width:90%;
  outline:2px solid #000;
}

.context{
  width:70%;
  margin: auto;
  text-align: center;
  outline:2px solid #000;
}

.comment_list{
  width: 90%;
  margin: auto;
  outline:2px solid #000;
}

.comment_post{
  width: 90%;
  margin: auto;
  outline:2px solid #000;
}

.title{
  text-align:center;
  font-weight: bold;
}

.list{
  text-align: center;
  width:50%;
  margin:auto;
  outline:2px solid #000;
}

.schedule_month{
  width:90%;
  margin:auto;
  text-align: center;
  outline:2px solid #000;
}


ul{
  text-align: center;
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  z-index: 20;
}

ul li{
  display: inline-block;
  padding: 26px 10px 20px 10px;
}

a{
  color: #000;
}