/* Record */
.context{
  width:70%;
  margin: auto;
  text-align: center;
  border:solid 2px #000;
}

.record_list{
  display: table;
  margin:auto;
  width:70%;
  border:solid 3px #000;
}

.filename{
  display: table-cell;
  text-align:left;
}

.date{
  display: table-cell;
  text-align: center;
}

.person{
  display: table-cell;
  text-align: right;
}

.title{
  text-align:center;
  font-weight: bold;
}