/* Today_schedule */
.schedule_today{
  margin:auto;
  /*width:90%;*/
  border:solid 3px #000;
}

.context{
  /*width:70%;*/
  margin: auto;
  text-align: center;
  border:solid 2px #000;
}

.comment_list{
  /*width: 90%;*/
  margin: auto;
  border:solid 2px #000;
}

.comment_post{
  /*width: 90%;*/
  margin: auto;
  border:solid 2px #000;
}

.title{
  text-align:center;
  font-weight: bold;
}

.list{
  text-align: center;
  /*width:50%;*/
  margin:auto;
  border:solid 2px #000;
}

.schedule_month{
  /*width:90%;*/
  margin:auto;
  border:solid 3px #000;
}